<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.oddcode.timer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application android:name=".TimerApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Timer"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.AddTimerActivity"
            android:label="Add timer" />
        
        <activity android:name=".ui.TimerAlert"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Holo.Dialog"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation" />
        
        <activity android:name=".ui.TimerAlertFullscreen"
                android:excludeFromRecents="true"
                android:theme="@style/TimerAlertFullScreenTheme"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation" />
        
        <receiver android:name=".service.TimerReceiver">
            <intent-filter>
                <action android:name="se.oddcode.timer.action.TIMER_STARTED" />
                <action android:name="se.oddcode.timer.action.TIMER_EXPIRED" />
                <action android:name="se.oddcode.timer.action.TIMER_DISMISSED" />
                <action android:name="se.oddcode.timer.action.TIMER_KILLED" />
            </intent-filter>
        </receiver>
        
        <service android:name=".service.TimerService" />
        
        <service android:name=".service.AlertService" />
        
        <provider android:name=".TimerProvider"
			android:authorities="se.oddcode.timer"
			android:exported="false" />
    </application>

</manifest>